{% extends 'base_dashboard.html' %}
{% load static %}
{% block title %}Adicionar Usuário{% endblock %}
{% block content_dashboard %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <!-- Start Page Title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Adicionar Usuário</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'list_users_dashboard' %}">Usuários</a></li>
                                <li class="breadcrumb-item active">Adicionar Usuário</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Title -->

            <!-- Form Section -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Dados Conta Usuário</h4>
                            <p class="card-title-desc">Preencha as informações abaixo para adicionar um novo usuário.</p>
                        </div>
                        <div class="card-body p-4">
                            <form class="row g-3" method="POST" autocomplete="off" enctype="multipart/form-data" action="{% url 'user_add' %}">
                                {% csrf_token %}
                                {% for field in user_form %}
                                {% if field.name != 'remember_me' %}
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{ field }}
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {% for error in field.errors %}
                                            <p class="text-danger small">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% endfor %}

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" name="group" id="groupSelect">
                                            <option value="" selected>Selecione o Grupo</option>
                                            {% for group in user_groups %}
                                            <option value="{{ group.id }}">{{ group.name|capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="groupSelect">Grupo de Usuário</label>
                                    </div>
                                </div>

                                <!-- Botão de Submissão -->
                                <div class="col-12 mt-3">
                                    <button class="btn btn-primary" type="submit">Criar Usuário</button> <div class="vr"></div> <button class="btn btn-outline-danger" type="reset">Limpar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Form Section -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>

{% endblock %}
