{% extends 'base_dashboard.html' %}
{% load static %}
{% block title %}Editar Notícia{% endblock %}
{% block content_dashboard %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <!-- Start Page Title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Editar Notícia</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard_news_list' %}">Notícias</a></li>
                                <li class="breadcrumb-item active">Editar Notícia</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Title -->
            
            <!-- Form Section -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Dados da Notícia</h4>
                            <p class="card-title-desc">Edite as informações abaixo para atualizar a notícia.</p>
                        </div>
                        <div class="card-body p-4">
                            <form class="row g-3" method="POST" autocomplete="off" enctype="multipart/form-data" action="{% url 'update_news' news.pk %}">
                                {% csrf_token %}
                                
                                {% for field in form %}
                                    <div class="{% if field.name == 'content' %}col-md-12{% else %}col-md-6{% endif %}">
                                        <div class="form-floating">
                                            {{ field }}
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {% for error in field.errors %}
                                                <p class="text-danger small">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}

                                <!-- Botão de Submissão -->
                                <div class="col-12 mt-3">
                                    <button class="btn btn-primary" type="submit">Atualizar Notícia</button>
                                    <div class="vr"></div>
                                    <button class="btn btn-outline-danger" type="reset">Limpar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Form Section -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>

{% endblock %}