{% load static %}
<!--START HEADER-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="CoophaNews, Notícias, publicidade">
<!--usado para fornecer uma breve descrição do conteúdo do site que pode ser usado pelos mecanismos de pesquisa.-->

<meta name="keywords" content="notícias, coophavila 2, campo grande, ms, Mato Grosso do Sul, Pantanal, comércios, Av. Marinha">
<!--usado para fornecer palavras-chave relevantes para o conteúdo do site que podem ser usadas pelos mecanismos de pesquisa.-->

<meta name="author" content="Herbert Mesquita Pitombeira">
<!--usado para especificar o nome do autor do site.-->

<meta name="robots" content="noindex, nofollow">
<!--usado para instruir os mecanismos de pesquisa a não indexar ou seguir as páginas do site.-->

<meta property="og:title" content="CoophaNews - Notícias e Publicidade">
<!--usado para fornecer um título personalizado para ser usado quando o conteúdo do site é compartilhado em redes sociais.-->

<meta property="og:description" content="CoophaNews - Notícias e Publicidades">
<!--usado para fornecer uma descrição personalizada para ser usada quando o conteúdo do site é compartilhado em redes sociais.-->

<meta property="og:image" content="URL da imagem compartilhada nas redes sociais">
<!--usado para fornecer uma imagem personalizada para ser usada quando o conteúdo do site é compartilhado em redes sociais.-->
<link rel="icon" href="{% static 'news/img/ico.png' %}" sizes="16x16" type="image/x-icon">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Font Awesome (Escolha apenas uma versão) -->
<!-- Versão 6.0.0-beta3 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{% static 'news/lib/owlcarousel/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'news/lib/owlcarousel/assets/owl.theme.default.min.css' %}">


<!-- jQuery (necessário para os componentes JavaScript do Bootstrap) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

<!-- Popper.js (para tooltips e dropdowns do Bootstrap) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Owl Carousel JS -->
<script src="{% static 'news/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- RECAPTCHA GOOGLE -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- Bootstrap Bundle with Popper.js (JS) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<!--END HEADER-->