
<!-- Newsletter -->
<div class="widget">
    <h6 class="widget-title">Assine nossas Notícias</h6>
    <div class="newsletter">
      <i class="fa-solid fa-envelope-open-text"></i>
      <p>Inscreva-se para receber nossas últimas notícias e atualizações.</p>
      <div class="newsletter-box">
        <input type="email" class="form-control" placeholder="E-Mail Address">
      <button type="submit" class="btn btn-primary">Inscrever</button>
      </div>
      <small>Não enviamos Span!</small>
    </div>
  </div>