{% load static %}
<div class="widget sidebar-category">
    <h6 class="widget-title">Publicidades</h6>
  <div class="widget">
    <div class="add-banner">
        {% for banner in banners %}
        <a href="#" 
           data-bs-toggle="modal" 
           data-bs-target="#bannerModal" 
           data-banner-id="{{ banner.id }}" 
           data-banner-name="{{ banner.fantasia.fantasia }}" 
           data-banner-image="{{ banner.banner.url }}" 
           data-banner-description="{{ banner.description }}">
            {% if banner.fantasia.logo %}
            <!-- Exibindo a logo da empresa -->
            <img class="img-fluid w-100" src="{{ banner.fantasia.logo.url }}" alt="Logo de {{ banner.fantasia.fantasia }}">
            {% else %}
            <!-- Imagem de fallback caso a empresa não tenha logo -->
            <img class="img-fluid w-100" src="images/default-logo.jpg" alt="Nenhum Logo Disponível">
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="bannerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bannerModalLabel">..::CoophaNews - Publicidade::..</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" alt="Banner" id="modal-banner-image" class="img-fluid mb-3">
                <h6 id="modal-banner-name">{{ banner.fantasia.fantasia }}</h6>
                <p id="modal-banner-description"></p>
            </div>
        </div>
    </div>
</div>

<script>
    // Script para carregar os dados no modal ao clicar no link
    document.addEventListener('DOMContentLoaded', function () {
        const bannerLinks = document.querySelectorAll('a[data-bs-target="#bannerModal"]');
        bannerLinks.forEach(link => {
            link.addEventListener('click', function () {
                const bannerId = this.getAttribute('data-banner-id');
                const bannerName = this.getAttribute('data-banner-name');
                const bannerImage = this.getAttribute('data-banner-image');
                const bannerDescription = this.getAttribute('data-banner-description');

                // Preencher o modal com os dados do banner
                document.getElementById('modal-banner-name').textContent = bannerName;
                document.getElementById('modal-banner-image').src = bannerImage;
                document.getElementById('modal-banner-description').textContent = bannerDescription;
            });
        });
    });
</script>
