/* CSS para adicionar uma imagem de fundo cobrindo a página inteira */

.body {
    background-image: url("/static/dashboard/img/indexo.png"); /* Caminho relativo à pasta assets/imgs */
    background-size: cover; /* A imagem vai cobrir toda a tela */
    background-position: center center; /* A imagem será centralizada */
    background-attachment: fixed; /* A imagem ficará fixa ao rolar a página */
    height: 100vh; /* Garante que a imagem cubra toda a altura da tela */
    margin: 0; /* Remove margens padrão */
    display: flex; /* Flexbox para centralizar o conteúdo dentro da tela */
    justify-content: center; /* Centraliza o conteúdo na horizontal */
    align-items: center; /* Centraliza o conteúdo na vertical */
}
/* Centraliza o formulário */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px;
}

/* Card estilizado */
.card {
    background: rgb(255, 255, 255, 0.9);  /* Fundo semitransparente */
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
}


.text-center a {
    font-size: 16px;
    text-decoration: none;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Preto com 50% de transparência */
    color: FFF;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



/* Estilo para o Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Preto com 50% de transparência */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

    .login-box {
    background: rgb(255, 255, 255, 0.9);  /* Fundo branco com 90% de transparência */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px; /* Aumente a largura máxima para 600px */
    width: 100%;
}

