{% extends 'base_auth.html' %}
{% load static %}
{% block content_auth %}

<div class="container">
    <div class="d-flex justify-content-center align-items-center h-100">
    <div class="card p-4" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">Solicitação de Senha Nova &#9996;</h2>
        <hr>

    <h6>Enviamos um e-mail com instruções para definir sua senha.</h6>
    <h6>Se o e-mail não chegar em alguns minutos, verifique sua pasta de SPAM.</h6>
    <h6>{{ message }}</h6>
    <h6>Você pode agora <a href="{% url 'login' %}" style="color: #30c96a; text-decoration:none; background:transparent;">fazer login</a> ou retornar à <a href="{% url 'home' %}" style="color: #30c96a; text-decoration:none; background:transparent;">página inicial</a>.</h6>
    </div>
</div>
{% endblock %}